
{% extends 'employ-template/base_template.html' %}

{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Messages</title>
 
</head>
<body>

    <div class="container w-75" style="background-color: #ccc;"> <br>
        <div class="image-wrapper d-flex justify-content-center">
            <img src="{{ md.image.url }}" alt="Image" width="300px" height="250px" class="rounded-circle">
        </div> <br>
        <div class="row d-flex justify-content-center" style="color: black; white-space: pre-line; word-wrap: break-word;">
            <h3 class="text-center" style="text-transform:capitalize;">{{ md.title }} !</h3>
            <p style="color: black !important;text-align:center;text-transform:capitalize">{{md.descrption|striptags|safe}}</p>
            <p class="text-center" style="color: black;">Thanking You</p>
        </div>
    <h5 class="text-right" style="color: black;">By Our Managment</h5>
    <p style="color:black;" class="text-right">{{organization_name}}</p>
          
    </div>

</body>
</html>


{% endblock main_content %}