{% extends 'employ-template/base_template.html' %}

{% block main_content %}
<style>
    /* Style table cells (td) */
    table.table tbody td, th {
        color: white; /* Text color for table cells */
    }

    h4 {
        color: white;
    }

    table {
        width: 100% !important;
    }
    .pagination {
        margin: 20px 0;
        text-align: center;
    }
    
    .pagination a, .pagination .current-page {
        display: inline-block;
        padding: 8px 12px;
        text-decoration: none;
        margin: 0 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: background-color 0.3s;
        border-radius: 20px;
    }

    .act{
  /* background-color: orange; */
  color: white;
  height:43px;
  width:43px;
  border-radius: 20px;

}

</style>
<style>

    #yourTableID {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }
    
            /* Apply styles to table cells */
            #yourTableID td, #yourTableID th {
            border-color: #f6f7f4;
            text-align: left;
            padding: 8px;
            color: black;
            }
    
            /* Apply alternating row colors */
            #yourTableID tbody tr:nth-child(even) {
            background-color: rgb(141, 183, 218);
            }
    
            #yourTableID tbody tr:nth-child(odd) {
            background-color: rgb(239, 239, 247);
            }
    
    </style>

<center>
    <h4 class="text-white">Other Notification</h4>
</center>
    <div class="table-responsive">
        <table id="yourTableID" class="table">
            <tr style="background: linear-gradient(#5785e9,rgb(236, 198, 216));color: black;">
                <th style="text-align: left; padding-left: 50px;">Duration</th>
                <th style="text-align: left; padding-left: 50px;">Reason</th>
                <th style="text-align:left;padding-left: 50px;">Created</th>
                </tr>
            {% for item in tasks_with_status %}
                <tr>
                    <td style="text-align: left; padding-left: 50px;">{{ item.duration }}</td>
                    
                    <td style="text-align: left; padding-left: 50px;">{{ item.reason }}</td>
                    <td style="text-align: left;padding-left:50px">{{item.created_at}}</td>
                   
            {% endfor %} 
        
        </table>
    </div>

<div class="pagination" style="color:white; margin:20px auto;">
    <span class="step-links">
        {% if tasks_with_status.has_previous %}
            <a  href="?page=1">&laquo;<<</a>
            <a   href="?page={{ tasks_with_status.previous_page_number }}" class="prev"> < </a>
        {% endif %}


        {% for i in tasks_with_status.paginator.page_range %}
        {% if tasks_with_status.number == i %}
        <button class="active act bg-info"><span>{{ i }} <span class="sr-only">(current)</span></span></button>
        {% elif i > tasks_with_status.number|add:'-3' and i < tasks_with_status.number|add:'3' %}
            <a  href="?page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}

       

        {% if tasks_with_status.has_next %}
            {% if tasks_with_status.number != tasks_with_status.paginator.num_pages %}
            {% endif %}
            <a   href="?page={{ tasks_with_status.next_page_number }}" class="prev">> </a>

            <a  href="?page={{ tasks_with_status.paginator.num_pages }}">>>&raquo; </a>
        {% endif %}
    </span>
</div>   


</div>
{% endblock main_content %}