{% extends 'employ-template/base_template.html' %}


        <title>Reports list</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block main_content %}
<style>
     button {
        background-color: white;
        color: white;
        border: none;
    }
    .card {
        background-color: transparent;
        justify-content: start;

    }
    .card a {
        background-color: #9878b7;
       border-radius: 20px;
       color: white;
        display: block; 
        margin-bottom: 10px;
        padding:20px;
        height: 100px;
        }
    
    h6 {
        font-size: 30px;
    }
    
    .card span {
        margin-left: 40px; 
        display: block;
    }
</style>

        <div class="container">

            <div class="card w-100">

                <h6 style="color: black;">REPORTS</h6>
                <br><br>
                <div class="row">
                   <div class="col-6"> 
                       <a href="/yearmonth_uploaded1/">    
                        <h5 class=" w-100">Salary Register</h5>
                            <span>View details of past and upcoming payrolls</span>
                        </a><br>  
                    </div> 
                    <div class="col-6">   
                        <a href="/masterctcs1/"> 
                            <h5 class=" w-100">Master CTC Report</h5>
                                <span>View CTC breakup for employees</span>
                           </a><br>
                    </div>
                </div>           
            
                <div class="row">
                    <div class="col-6"> 
                        <a href="/register2/">
                            <h5 class=" w-100">HR Register </h5>
                                <span>View past and current employees and contractors</span>
                           </a><br>  
                     </div> 
                     <div class="col-6">   
                        <a href="/search1/">  
                            <h5 class=" w-100">Variance Report</h5>
                                <span>View and compare payroll, complience and employee count trends</span>
                            </a><br>
                     </div>
                 </div>           
             
            
                 <div class="row">
                    <div class="col-6"> 
                        <a href="/documentreport1/">
                            <h5 class=" w-100">DOCUMENTS</h5>
                                <span>View all documents of current employees</span>
                            </a><br> 
                     </div> 
                     <div class="col-6">   
                        <a href="/paid1/">
                            <h5 class=" w-100">Attendance</h5>
                                <span>View your employees attendance</span>
                            </a><br>
                     </div>
                 </div>     
            
                <div class="row">
                    <div class="col-6"> 
                        <a href="/all_employees_missing_info1/">
                            <h5 class=" w-100">Missing Information</h5>
                                <span>View a list of employees with missing Information</span>
                            </a><br>
                    </div> 
                    <div class="col-6">   
                        <a href="/all_employees_reimbursement_report1/">
                            <h5 class=" w-100">Reimbursement</h5>
                                <span>View reimbursement that are pending authorization, or have been approved for the current payroll</span>
                            </a><br>
                    </div>
                </div>    
            
            </div>
        </div>
        {% endblock main_content %}
    