{% extends 'employ-template/base_template.html' %}

{% block main_content %}
<style>
    .calendar {
  width: 99%;
  margin: auto;
  font-size: 13px;
  background-color: rgb(148, 148, 206);

}

.calendar tr{
  border: 1px solid rgb(53, 55, 185);
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color:azure;
  background-color: rgb(46, 46, 112);
}

.calendar td {
  width: 50px;
  height: 50px;
  padding: 20px 0px 0px 5px;
  color:aliceblue;
  text-align: center;
  background-color: rgb(82, 113, 139);
  font-size: 18px;
}
.calendar td:hover{
  color:rgb(89, 137, 226);
  
}
.calendar td::select{
  background-color: gray;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}
.calendar
ul {
  height: 100%;
  text-align: center;
}

a {
  color: #17a2b8;
}
.left {
  float: left;
}
.center {
  float: center;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color:white;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin-top: 15px;
  text-align: center;
  background-color: rgb(82, 113, 139);
  flex-grow: 1;
  
  
}
.check{
  background-color: rgb(79, 59, 126);
  padding:25px;
  display:row;
  flex-direction: row;
  justify-content: center;
}
td.datepresent{
  color: rgb(0, 0, 0);
  background-color: rgba(246, 230, 0, 0.311);
}
td.datepresent1{
  color: green;
  background-color: rgba(229, 255, 0, 0.451);
}
span.datepresent1{
  color: rgb(95, 255, 3);
  
}
.area{
	padding: 10px;
	height: auto;
}
  </style>
  
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 style="color:white;">Leave & Attendence</h1>
      
      <div  class="check">
        <div class="row justify-content-between">
        <div sytle="flex-direction:column;">
        <h2 style="color:white; font-size:24px;">Mark attendence for today(<span id="date"></span>)</h2>
        <p style="color:white; font-size:14px;">You can mark your attendance for today. For any other day, please use the edit option below.</p>
      </div>
        <div class="col">
          <form method="post" id="i">
            {% csrf_token %}
            <button name="vk"  type="submit" {% if message %}disabled{% endif %}>Check In</button>
</form>

<form method="post" >
            {% csrf_token %}
            <button name="vk1" type="submit" {% if messages %}disabled{% endif %}>Check out</button>
        </form>
        </div>
      </div>
      </div>
    
      
        <script>
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
        </script>
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'ehrms:calendar' %}?{{ prev_month }}"><span></span>Prev</a>
	<a class="btn btn-info center" href="{% url 'ehrms:calendar' %}?{{ get_date }}"> Today </a>
	<a class="btn btn-info right" href="{% url 'ehrms:calendar' %}?{{ next_month }}"> Next>> </a>
</div>

{{ calendar }}

 


{% endblock main_content %}
