<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete assign schedule</title>
    <!-- Bootstrap CSS for basic styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .container {
            max-width: 600px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Delete schedule </h1>
        <p>Are you sure you want to delete "{{ c3.title }}"?</p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'retriev_assignans3' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>
