<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width'>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</head>
<style>
     #imageonly {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
        } 
    #kdr{
        font-family: Calibri ;
        font-size: 30px;
    }
    #kdr1{
        font-family: Calibri ;
        margin-left: 10px;
    }
    #kdr2{
        text-align: justify;
        margin-left: 20px;
        
    }
</style>
<body id="imageonly">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <br><br>
           <h4 id="kdr"> Terms & Conditions for BugLegal Services</h4><br>
            <!-- Effective Date: [Insert Date] -->
            
            <p style="margin-left:10px;">Welcome to BugLegal!</p>


             <p id="kdr1"><b>By accessing or using our services, you agree to comply with and be bound by the following terms and conditions. Please read these Terms & Conditions carefully before using BugLegal. If you do not agree with these terms, please refrain from using our services.
            </b></p>
            <div>
           <h5> 1. Use of Services Acceptance of Terms:</h5>
            <p id="kdr2" style="font-size: 14px;">By using BugLegal, you acknowledge that you have read and understood these Terms & Conditions and agree to be bound by them.</p>
            <p><b id="kdr1">i)Lawful Use:</b></p>
            <p id="kdr2" style="font-size: 14px;">You agree to use BugLegal  for lawful purposes only and in a way that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, our services by any third party.</p>
            <p><b id="kdr1">ii)User Account:</b></p>
            <p id="kdr2" style="font-size: 14px;"> To access certain features of BugLegal, you may be required to create a user account. You are responsible for maintaining the confidentiality of your account and password. Any unauthorized use of your account is your responsibility.</p>
            </div>
            <h5>2. Intellectual Property</h5>
            <p id="kdr1"><b>i)Ownership:</b></p>
            <p id="kdr2" style="font-size: 14px;"> The content and features provided by BugLegal are protected by copyright and other intellectual property laws. BugLegal and its licensors retain  all rights to the content.</p>
            <p id="kdr1"><b>ii)Restrictions:</b></p>
            <p id="kdr2" style="font-size: 14px;">You may not reproduce, distribute, or create derivative works based on BugLegal content without our prior written consent.</p>
            <h5>3. Disclaimer of guarantee</h5>
            <p id="kdr2" style="font-size: 14px;">Buglegal is not provide any guarantee. We do not guarantee the accuracy, timeliness, or completeness of the information  is missing  on our platform.
            </p>
            <h5>4. Limitation of Liability</h5>
            <p id="kdr2" style="font-size: 14px;"> BugLegal and its affiliates shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of our services.            </p>
            <h5>5. User Conduct</h5>
            <p id="kdr2" style="font-size: 14px;"> <b>You  are not agree to : </b>Use BugLegal  for any unlawful purpose or Attempt to gain unauthorized access   or any networks connected to it Interfere  the operation of BugLegal </p>
            <h5>6. Termination</h5>
            <p id="kdr2" style="font-size: 14px;"> We reserve the right to terminate or suspend your access to BugLegal without prior notice if you violate these Terms & Conditions.
            </p> 
            <h5>7. Governing Law</h5>
            <p id="kdr2" style="font-size: 14px;">These Terms & Conditions are governed by and construed in accordance with the laws of [insert jurisdiction], and you submit to the exclusive jurisdiction of the courts located in [insert jurisdiction] for the resolution of any disputes.</p>
           <h5>8. Updates to Terms & Conditions</h5> 
           <p id="kdr2" style="font-size: 14px;"> We may update these Terms & Conditions from time to time. Any changes will be effective immediately upon posting. Your continued use of BugLegal after the posting of revised Terms & Conditions constitutes your acceptance of such changes.
           </p>
            <h5>9. Contact Us</h5>
            <p id="kdr2" style="font-size: 14px;"> If you have any questions or concerns about these Terms & Conditions, please contact us at info@developtrees.com.
            </p>
        </div>
        <div class="col-2"></div>

    </div><br><br>


    

</body>
</html>