
{% extends 'admin-template/base_template.html' %}
        
        
        
        
{% block main_content %}

<style>
.table td{
    width: 50%;
    color: white;
}
h4{
    color: rgb(255, 255, 255);
}
.model-open .model{
    overflow-x:hidden;
    overflow-y: auto;

}
.content p{
    padding: 0%;

}
.main{
    position: absolute;
}
.content{
    background-color: #282f51;
}
tr:nth-child(even) {background-color: #242b4d}
       tr:nth-child(odd) {background-color: #2d3354}
/* @media (max-width: 768px) {
    .small-box{
        position: absolute;
    }
    
}
.deg{
    position: fixed;
} */
</style>
<script>
$(document).ready(function() {
// Show the popup when a specific element is clicked
$('#show-popup-button').click(function() {
$('#popup').fadeIn();
});

// Hide the popup when the close button is clicked
$('#close-popup-button').click(function() {
$('#popup').fadeOut();
});
});
</script>

<div class="row" >
    <div class="col-lg-8">
<div style="text-transform: capitalize;color: white;padding: 10px;"><a href="/empform/">people</a> | {{user.first_name}}.{{user.last_name}}</div>
<section class="content"  >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12 ">
                <!-- <div class="small-box " style="padding: 10px;width: 100%;"> -->
                    <h4>Basic Information<p type="button"  data-bs-toggle="modal" data-bs-target="#myModal" style="float: right;color: black;">  
                        <i class="fa fa-download" aria-hidden="true" style="color: white;">&nbsp;EDIT</i>
                        
                     </p></h4>

                     

      
      <div class="modal" id="myModal" style="color: rgb(240, 242, 245);">
        <div class="modal-dialog bg-white">
          <div class="modal-content">
      
            
            <div class="modal-body" style="background-color: #242b4d;color: white;" >
              <button type="button"   class="btn-close" data-bs-dismiss="modal" ></button>
              <br>
              <br>
              
                  <h3>Edit Basic Information </h3>
                  <br>
                  
            
             
                <form role="form" id="button1" action="{% url 'employ_profile_save' %}"  method="post">
                    {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group">
                      <label>Username</label>
                      <input type="text" class="form-control" name="username" value="{{ user.username }}" disabled="disabled">
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" name="email" value="{{ user.email }}" disabled="disabled">
                    </div>
                     <div class="form-group">
                      <label>First Name</label>
                      <input type="text" class="form-control" name="first_name" value="{{ employ.first_name }}">
                    </div>
                    <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" class="form-control" name="last_name" value="{{ employ.last_name }}">
                    </div>
                    
                     <div class="form-group">
                      <label>Change Password?</label>
                      <input type="text" class="form-control" name="password" placeholder="Fill Only If You want to Change Password">
                    </div>
                  
                    <div class="form-group">
                      <label>location</label>
                      <input type="text" class="form-control" name="location" value="{{employ.location}}">
                    </div>
                     <div class="form-group">
                        {% if messages %}
                          {% for message in messages %}
                          {% if message.tags == 'error' %}
                          <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                          {% endif %}
                          {% if message.tags == 'success' %}
                          <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                          {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
  
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-block">Save Profile</button>
                  </div>
                </form><br><br>
              
            </div></div></div></div>

                    
           
    <!-- <div class="card1"> -->
        <div class="inner">
        <!-- <div class="card-body1" style="padding: 0px;"> -->
            
          
            
            <table class="table">
              
                <tbody >
                  
                  
                  <!-- <td><a href="/edit_basic_info/{{ employ.id }}"><i class="fa fa-pencil-square">update</i></a></td> -->

                
                                  
                    <tr >
                        <td >Type</td>
                       
                        <td>Employee</td>
                    </tr>
                    <tr >
                        <td>Employee Name</td>
                       
                        <td>{{employ.first_name}}{{employ.last_name}}</td>
                    </tr>
                    <tr >
                        <td>Email</td>
                       
                        <td>{{employ.email}}</td>
                    </tr>
                    <tr >
                        <td>Date of Hiring</td>
                        
                        <td>{{employ.dateofjoining}}</td>
                    </tr>
                    <tr >
                        <td>Title</td>
                        
                        <td>{{employ.role}}</td>
                    </tr>
                    <tr >
                        <td>Employee ID</td>
                        
                        <td>{{employ.empid}}</td>
                    </tr>
                    <tr >
                        <td>Department</td>
                        
                        <td>{{employ.role}}</td>
                    </tr>
                    <tr >
                      <td>Manager</td>
                      
                      <td>Daggubati Sravan Chowdary</td>
                  </tr>
                  
                    <tr >
                        <td>Location</td>
                        
                        <td>{{employ.location}}</td>
                    </tr>
                    <tr >
                      <td>Last Login</td>
                      
                      <td>{{user.last_login}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    
    
    <br>
    <div class="row">
        <div class="col-lg-12 col-12 ">

    <h4>Compensation & Perquisites<p style="float: right;color: rgb(255, 255, 255);"><a href=""></a></p></h4>
   
   
    <!-- <div class="card1">
        <div class="card-body1" style="padding: 0px;">
             -->
            
                    <!-- <div class="small-box " style="padding: 10px;width: 100%;">  -->
            <table class="table">
                <tbody >
                    <tr >
                        <td >Annual Salary</td>
                       
                        <td>₹&nbsp;&nbsp;{{employ.package}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-lg-12 col-12 ">
   
    <h4>Leaves & Attendance<p style="float: right;color: rgb(255, 255, 255);"><a href=""></a></p></h4>

   
    <!-- <div class="card1">
        <div class="card-body1"> -->
          
            
            <table class="table">
                <tbody >
                    <tr >
                        <td >Shift Timing</td>
                       
                        <td>08:30 - 18:30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 col-12 ">

        <h4>Provident Fund, Professional Tax & ESI<p style="float: right;color: rgb(255, 255, 255);"><a href=""></a></p></h4>
   
    <!-- <div class="card1">
        <div class="card-body1"> -->
        
            
            <table class="table">
                <tbody >
                    <tr >
                        <td >PF Status</td>
                       
                        <td>Company Disabled</td>
                    </tr>
                    <tr >
                        <td >PF UAN</td>
                       
                        <td>-NA-</td>
                    </tr>
                    <tr >
                        <td >Professional Tax</td>
                       
                        <td>Company Disabled</td>
                    </tr>
                    <tr >
                        <td >ESIC Status</td>
                       
                        <td>Registration Not Initiated</td>
                    </tr>
                    <tr >
                        <td >ESIC IP Number</td>
                       
                        <td>-NA-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   

    <br>
    <div class="row">
        <div class="col-lg-12 col-12 ">
    {% for i in datas %}
    <h4>Payment Information<p style="float: right;color: rgb(255, 255, 255);"><a href="/edit_pay_info/{{ i.id }}"><i class="far fa-edit">&nbsp;EDIT</i></a>
    </p></h4>{% endfor %}

    
<div class="inner">
    <!-- <div class="card1">
        <div class="card-body1" style="padding: 0%;"> -->
         
            
            <table class="table" >
                <tbody >{% for data in datas %}
                    <tr >
                        <td >PAN</td>
                       
                        <td>{{data.pan}}</td>
                    </tr>
                    <tr >
                        <td>IFSC Code</td>
                       
                        <td>{{data.ifsecode}}</td>
                    </tr>
                    <tr >
                        <td>Account Number</td>
                       
                        <td>{{data.acno}}</td>
                    </tr>
                    <tr >
                        <td>Beneficiary Name</td>
                        
                        <td>{{data.beneficiaryname}}</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div></div>
    
    <br>
    <!-- <div style="display: flex; flex-direction: row; height: 50px;margin-bottom: 10px;width: 800px;"> -->
        <div class="row">
            <div class="col-lg-12 col-12 ">
                <h4>Other Information<p style="float: right;color: rgb(255, 255, 255);"><a href="/edit_other_info/{{ data.id }}"><i class="far fa-edit">&nbsp;EDIT</i></a>
                </p></h4>
    
               
   
   <div class="inner">
    <!-- <div class="card1">
        <div class="card-body1" style="padding: 0px;" > 
           -->
            
            <table class="table">
                <tbody >
                    <tr >
                        <td >Phone Number</td>
                       
                        <td>{{data.phno}}</td>
                    </tr>
                    <tr >
                        <td>Gender</td>
                       
                        <td>{{data.gender1}}</td>
                    </tr>
                    <tr >
                        <td>Date of Birth</td>
                       
                        <td>{{data.dob}}</td>
                    </tr>
                    <tr >
                        <td>Permanent Adderss</td>
                        
                        <td>{{data.address1}}</td>
                    </tr>
                    <tr >
                        <td>Highest Educational Qualification</td>
                        
                        <td>{{data.heq}}</td>
                    </tr>
                    <tr >
                        <td>Aadhaar Number</td>
                        
                        <td>{{data.aadharno}}</td>
                    </tr>
                    <tr  >
                        <td>Blood Group</td>
                        
                        <td>{{data.bloodgroup}}</td>
                    </tr>
                   
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div></div>
   
    <br>
    <div class="row">
        <div class="col-lg-12 col-12 ">
    
        <h4>User Roles & Permissions<p style="float: right;color: rgb(255, 255, 255);"><a href="/edit_other_info/{{ i.id }}"></a>
        </p></h4>
   
   <div class="inner">
              <!-- <div class="card1">
        <div class="card-body1"> -->
       
            
            <table class="table">
                <tbody >
                    <tr >
                        <td >Role</td>
                       
                        <td>Employee / Contractor</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div></div>


    

 

<script>
function showDiv(buttonId) {
    var div = document.getElementById(buttonId);
    if (div.style.display === "none") {
        div.style.display = "block";
    } else {
        div.style.display = "none";
    }
}

function hideDiv(buttonId) {
    var div = document.getElementById(buttonId);
    div.style.display = "none";
}

</script></div></section></div>

<div class="col-lg-4 " style="background-color: #282f51; justify-content: center; padding: 20px;margin-top: -13px; " >
<div class="small-box deg" style="text-align: center; padding: 15px;  max-width: 300px; width: 300px;position: fixed;">
    <!-- <div class="inner" > -->
<!-- <div class="sidenav1"> -->
<a class="img_size" href="#about"><img src="/media/{{employ.profile_pic}}" alt="upload photo" style="width: 100%; height: fit-content;"></a>
<div class="row" style="justify-content: center; padding: 10px;">
<a href="{% url 'upload_photo' %}"><button class="btn btn-primary btn-block">Update Photo</button></a>

</div>

</div></div>   
</div>
 {% endblock main_content %}


