{% extends 'admin-template/base_template.html' %}

{% block main_content %}
<title>Leaves & Attendance</title>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<style>
    .calendar {
  width: 97%;
  margin: auto;
  font-size: 13px;
  background-color: black;

}

.calendar tr{
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color:azure;
  /* background-color: rgb(56, 56, 63); */
}

.calendar td {
  width: 50px;
  height: 50px;
  padding: 20px 0px 0px 5px;
  color: white;
  text-align: center;
  background-color: linear-gradient(rgb(239,239,247), rgb(238,244,244)) !important;
  font-size: 18px;
  
}
.calendar td:hover{
  color:rgb(255, 2, 2);
  
}
.calendar td::select{
  background-color: gray;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}
/* .calendar
ul {
  height: 100px;
  text-align: center;
} */

a {
  color: #17a2b8;
}
.left {
  float: left;
}
.center {
  float: center;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color:white;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin-top: 20px;
  text-align: center;
  background-color: rgb(42,201,212);
  flex-grow: 1;
  height: 40px;
  border: none;
  color: black;
  
}
.check{
  background-color: rgb(239,239,247);
  padding:25px;
  display:row;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}
td.datepresent{
  color: rgb(0, 0, 0);
  background-color: rgba(246, 230, 0, 0.311);
}
td.datepresent1{
  color: green;
  background-color: rgba(229, 255, 0, 0.451);
}
span.datepresent1{
  color: rgb(95, 255, 3);
  
}
/* .area{
	padding: 10px;
	height: auto;
} */
.check_notify{
  background-color: green;
  color:white;
}
/* .button{
  background-color: rgb(26, 31, 182);
  color:white;
} */
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/* @media screen and (max-width: 768px){
  div{
        font-size: 18px;
        display: flex;
  }
  
} */

  </style>
  <br>
  <br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="background-color: green;color: whitesmoke;padding: 10px;list-style-type: none;width: 70%;">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <div class="col-md-2"></div>
    <div class="col-md-12">
      <h1 style="color:black;">Leave & Attendance</h1>
      
      <div  class="check">
        <div class="row justify-content-between">
        <div sytle="flex-direction:column;">
        <h2 style="color:black; font-size:24px;">Mark attendance for today(<span id="date"></span>)</h2>
        <!-- <p style="color:white; font-size:16px;">You can mark your attendance for today. For any other day, please use the edit option below.</p> -->
      </div>
      
        <div class="col">
          
          <form method="post" id="checkInForm" enctype="multipart/form-data">
            {% csrf_token %}
            <button class="btn btn-info" name="v" id="checkInBtn" type="submit" style="color: black;border: none; background-color: #83e8cd ;  width:15% ">Check In</button>
          </form><br>

          
          
  
          <form method="post" id="checkOutForm" enctype="multipart/form-data">
            {% csrf_token %}
            <button class="btn btn-info" name="v1" type="submit" style="color: black; border: none; background-color: #83e8cd ; width:15%;" >Check Out</button>
          </form>
        </div>
      </div>
    </div>     
        <script>
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
        </script>
 
        
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'ehrms:calendar1' %}?{{ prev_month }}" style="margin-left: 8px;"> << Prev</a>
	<a class="btn btn-info center" href="{% url 'ehrms:calendar1' %}?{{ get_date }}"> Today </a>
	<a class="btn btn-info right" href="{% url 'ehrms:calendar1' %}?{{ next_month }}" style="margin-right: 10px;"> Next>> </a>
</div>
</div>
<br>
<div class="table-responsive">
<div class="TFtable">
  {{ calendar }}
</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      
      setTimeout(function() {
          const messages = document.querySelectorAll('.messages li');
          messages.forEach(function(message) {
              message.style.opacity = '0';
              setTimeout(function() { 
                  message.style.display = 'none';
              }, 600);
          });
      }, 5000); 
  });
  </script>



{% endblock main_content %}


