{% extends 'admin-template/base_template.html' %}

{% block page_title %}
Upload profile picture
{% endblock page_title %}

{% block main_content %}
<style>
    img{
        color:#fff
    }
</style>
<br><br>

<div id="message">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
    {% endif %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" style="margin-top:20px;background-color:green;color: whitesmoke;">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    </div>
<div class="container-fluid">
    <h1 >
        Upload Photo
    </h1>
    {% if data.adminprofilepic %}
    <div class="inner" style="width: 250px;">
        <img src="/media/{{ data.adminprofilepic }}" alt="upload photo" style="width: 100%; height: fit-content;">
    </div>
    {% endif %}
    <br>
    <div class="small-box col-lg-8 text-dark p-3">
        Please upload a photo of yourself so your colleges can identify you. We suggest a close-up of the face, of 300x300 pixels dimensions. Large photos will automatically get resized.
    </div>
    <form method="post" style="color: black;" enctype="multipart/form-data" action="{% url 'admin_upload_photo' %}">
        {% csrf_token %}
        <div id="error-container">
        <label style="border: 2px solid black; padding: 10px; cursor:default;">
            <input type="file" id="image" name="adminprofilepic" accept="image/*" onchange="validateFileType()" required>
        </label>
        </div>
        <br>
        <button class="btn btn-primary btn-block" style="width: 150px;" type="submit" class="mt-3">Upload photo</button>
    </form>
    <br>
    {% if data.adminprofilepic %}
    <form method="post" action="{% url 'admindelete_profile_pic' %}">
        {% csrf_token %}
        <button class="btn btn-primary btn-block" style="width: 100px;" type="submit" id="delete-button-{{ data.id }}" class="delete-button">Remove</button>
    </form>
{% endif %}

</div>
<script>
   
function validateFileType() {
        const allowedExtensions = ['jpg', 'jpeg', 'png', 'webp'];
        const inputFile = document.getElementById('image');
        const fileName = inputFile.value;
        const fileExtension = fileName.substr(fileName.lastIndexOf('.') + 1).toLowerCase();

if (!allowedExtensions.includes(fileExtension)) {
    const errorMessage = document.createElement('div');
    errorMessage.textContent = 'Invalid Image Format, Please upload valid Image';
    errorMessage.style.color = 'red';
    document.getElementById('error-container').appendChild(errorMessage);
    
    inputFile.value = '';

    setTimeout(() => {
        document.getElementById('error-container').removeChild(errorMessage);
    }, 3000);
}
}
</script>
{% endblock main_content %}