{% extends 'admin-template/base_template.html' %}
{%load mathfilters%} {%load humanize%}

{% block page_title %}

{% endblock page_title %}
{% block main_content %}
        
   


<!-- <style>
     
        .center-form {
            
            justify-content: center;
            align-items: center;
            height: 70vh;
            width: 50%;
        }
   
</style> -->
<!-- <div class="container">
<div class="row">
    <div class="col-3"></div>
    <div class="col-6" id="tt"><br><br>
<form role="form" class="tt"    id="button1" action="{% url 'admin_Password_save' %}"  method="post">
    {% csrf_token %}
    
     <div class="form-group">
      <label>New Password?</label>
      <input type="text" class="form-control" name="password" placeholder="Fill Only If You want to Change Password">
    </div>
    <div class="form-group">
        <label>Confirm Password?</label>
        <input type="text" class="form-control" name="password" placeholder="Fill Only If You want to Change Password">
      </div>
  
  
 <div class="form-group">
                        <label>Show Password</label>
                        <input type="checkbox" onclick="togglePasswordVisibility()">
                    </div>

      
    
      <center><input type="submit" value="save" style="background-color: aqua;width: 30%;"></center>
    
</form>
</div>
<div class="col-3"></div>
<script>
        function togglePasswordVisibility() {
            var newPasswordInput = document.getElementById('newPassword');
            var confirmPasswordInput = document.getElementById('confirmPassword');

            if (newPasswordInput.type === "password") {
                newPasswordInput.type = "text";
                confirmPasswordInput.type = "text";
            } else {
                newPasswordInput.type = "password";
                confirmPasswordInput.type = "password";
            }
        }
    </script>

</div> -->

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" id="tt">
            <br><br>
            <form role="form" class="tt" id="button1" action="{% url 'admin_Password_save' %}" method="post">
                {% csrf_token %}

                <!-- <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" name="password" id="newPassword" placeholder="Fill Only If You want to Change Password" required>
                    <span id="newPasswordMessage" class="text-danger"></span> 
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="password" id="confirmPassword" placeholder="Fill Only If You want to Change Password" required>
                    <span id="confirmPasswordMessage" class="text-danger"></span> 
                </div> -->

                <div class="form-group">
                    <label for="newPassword" style="color: black;">New Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" id="newPassword" placeholder="Fill Only If You want to Change Password" required>
                        <div class="input-group-append">
                            <span class="input-group-text"  onclick="togglePasswordVisibility('newPassword', 'newPasswordToggle')">
                                <i id="newPasswordToggle" class="fas fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <span id="newPasswordMessage" class="text-danger"></span> 
                </div>
            
                <div class="form-group">
                    <label for="confirmPassword" style="color: black;">Confirm Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" id="confirmPassword" placeholder="Fill Only If You want to Change Password" required>
                        <div class="input-group-append">
                            <span class="input-group-text" onclick="togglePasswordVisibility('confirmPassword', 'confirmPasswordToggle')">
                                <i id="confirmPasswordToggle" class="fas fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <span id="confirmPasswordMessage" class="text-danger"></span> 
                </div>

                <div class="form-group">
                    <label style="color: black;">Show Password</label>
                    <input type="checkbox" onclick="togglePasswordVisibility()">
                  
                </div>

                <div id="passwordStrength"></div>

                <center><button type="button" onclick="validateForm()" style="background-color: aqua; width: 30%;">Save</button></center>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-LvB5Y0k8ByQq+8KckzlUW4M3a8FjZzTyIbrPc1VILZBfObl5bWVOfynzRn0qmIeL2VDp1PMZXhTjxDpZ/v58yw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function togglePasswordVisibility(inputId, iconId) {
        var passwordInput = document.getElementById(inputId);
        var eyeIcon = document.getElementById(iconId);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }

    function handleKeyPress(event, inputId, iconId) {
        if (event.keyCode === 13) {
            togglePasswordVisibility(inputId, iconId);
        }
    }
</script>
<script>
    function displayError(inputId, message) {
        var errorMessage = document.getElementById(inputId + 'Message');
        errorMessage.innerText = message;
        errorMessage.style.display = 'block'; 

        setTimeout(function() {
            errorMessage.style.display = 'none';
        }, 7000);
    }

    function clearError(inputId) {
        var errorMessage = document.getElementById(inputId + 'Message');
        errorMessage.innerText = '';
        errorMessage.style.display = 'none'; 
    }

    function validateForm() {
        var newPassword = document.getElementById('newPassword').value;
        var confirmPassword = document.getElementById('confirmPassword').value;

        clearError('newPassword');
        clearError('confirmPassword');

        if (newPassword !== confirmPassword) {
            displayError('confirmPassword', "Passwords do not match.");
            return;
        }

        if (newPassword.length < 8 || !/[A-Z]/.test(newPassword) || !/[^a-zA-Z0-9]/.test(newPassword)) {
            displayError('newPassword', "Password must contain at least one capital letter, one special character, and be at least 8 characters long.");
            return;
        }

       
        document.getElementById('button1').submit();
    }

    function togglePasswordVisibility() {
        var newPasswordInput = document.getElementById('newPassword');
        var confirmPasswordInput = document.getElementById('confirmPassword');

        if (newPasswordInput.type === "password") {
            newPasswordInput.type = "text";
            confirmPasswordInput.type = "text";
        } else {
            newPasswordInput.type = "password";
            confirmPasswordInput.type = "password";
        }
    }
</script>
      {% endblock main_content %}