{% extends 'admin-template/base_template.html' %}
{% block main_content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container" style="width: 75%;height: auto;">
    <div class="row justify-content-center" style="margin-top: 100px;">
        <div class="col-lg-12 " >
            <form method="post" action="/company_update4/">{% csrf_token %}
            <h3 style="color: rgba(255, 255, 255, 0.756);">Update IT Portal credentials (Required for TDS filling) </h3><br>
            <h5 style="color: rgba(255, 255, 255, 0.831);">Income Tax Portal<button style="border-radius: 13px;margin-left: 10px;padding: 3px;font-size: medium;background-color: rgb(65, 65, 103);"><a href="https://incometaxindia.gov.in/Pages/tax-services/tds-certificate-verification.aspx"> Verification Uninitiated</a></button></h5>
            <div style="padding: 20px;   height:auto;width:auto;background-color: #313759;color: white;height: auto;">
            <br>
            <div style="color: rgba(255, 255, 255, 0.756);">For automate fillings of your TDS ,you must provide us with your Income Tax Portal login credentials at the earliest.</div><br>
            <div style="color: rgba(255, 255, 255, 0.756);">Important</div>
            <ul style="color: rgba(255, 255, 255, 0.756);">
                <li>The UserID entered needs to be your TAN</li>
                <li>Please ensure you have registered under the "Tax Deductor and Collector" category correctly using the <a href="https://www.incometax.gov.in/iec/foportal/help/register-for-efiling-tax-deductor-and-collector">linked steps.</a></li>
             </ul>
        </div>
        <br>
        <div class="table-responsive">
    <table border="2" style="border-collapse: collapse;border:none;"  class="input-box" required>
    <tr style="background-color:#2d3354;">
        <th style="padding: 10px;color: white;" required>User ID</th>
        <th style="padding: 10px; color: white;" required>Password</th>
    </tr>
    <tr>
        <td><input type="text" name="userid" placeholder="Enter your company TAN-number" style="padding: 10px;border:none;background-color: #3d435c; color: white;"  class="input-box" value="{{k.userid}}" ></td>
        <td><input type="password" id="pw" name="password" class="input-box" style="padding: 10px;border:none;background-color: #3d435c; color: white;" value="{{k.password}}" ></td>
    </tr>
    </table></div><br>
    <h6 style="color: rgba(255, 255, 255, 0.756);"><i>You can update the IT Portal credentials later as well</i></h6>
    <br>
    <h5 style="color:rgba(255, 255, 255, 0.756);" >TRACES</h5>
    <div style="padding:20px;background-color: #2d3354;color:rgba(255, 255, 255, 0.756);">Your company's <a href="https://www.tdscpc.gov.in/app/login.xhtml" >TRACES</a> login is required to file TDS returns,corrections,and to download Form 16/16A data.
    </div>
    <br>
    <div class="table-responsive">
    <table border="2" style="border-collapse: collapse;border:none;"class="input-box" required>
    <tr style="background-color:#2d3354;">
        <th style="padding: 10px;color: white;">Username</th>
        <th style="padding: 10px;color: white;">Password</th>
    </tr>
    <tr>
        <td><input type="text" style="padding: 10px;border:none;background-color: #3d435c; color: white;" name="username"  class="input-box" value="{{k.username}}" ></td>
        <td><input type="password" id="pw1" style="padding: 10px;border:none;background-color: #3d435c; color: white;" name="password1" class="input-box" value="{{k.password1}}" ></td>
    </tr>
    </table>
    </div>
            <!-- </form> -->
    <br>
    <br>
    <form method="post" action="/company_update4/">{% csrf_token %}

    <h5 style="color:rgba(255, 255, 255, 0.756);">PF</h5>
    
    <h6 style="background-color: #2d3354;padding:20px;color:rgba(255, 255, 255, 0.756);">
     Your company's <a href="https://unifiedportal-epfo.epfindia.gov.in/publicPortal/no-auth/misReport/home/loadEstSearchHome" >PF</a>  login is required to pay provident fund dues
     and file returns.</h6>
     <br>
     <div class="table-responsive">
     <table border="2" style="border-collapse: collapse;border:none;"class="input-box">
        <tr style="background-color:#2d3354;">
            <th style="padding: 10px;color: white;">Username</th>
            <th style="padding: 10px;color: white;">Password</th>
        </tr>
             <tr style="background-color: grey;">
             <td><input type="text" name="username1" style="padding: 10px;border:none;background-color: #3d435c; color: white;"  class="input-box" value="{{p.username1}}" ></td>
             <td><input type="password" id="pw2" name="password2" style="padding: 10px;border:none;background-color: #3d435c; color: white;"  class="input-box" value="{{p.password2}}"></td>
         </tr>
       </table>
     </div>
       <br>
       <br>
       <form method="post" action="/company_update4/">{% csrf_token %}

       <h5 style="color:rgba(255, 255, 255, 0.756);">ESIC</h5>

       <h6 style="background-color: #2d3354;padding:20px;color: white;">
        Your company's <a href="https://esic.in/ESICInsurance1/Employee/RegisteredEmployees.aspx?userPk=OxqzUqUZVi13WuoXb5TVBILM2Y/5HsXp" >ESIC</a>  login is required to pay ESIC dues and file 
        returns.
        
       </h6>
       
       <br>
       <div class="table-responsive">
       <table border="2" style="border-collapse: collapse;border:none;"class="input-box">
        <tr style="background-color:#2d3354">
            <th style="padding: 10px;color: white;">Username</th>
            <th style="padding: 10px;color: white;">Password</th>
        </tr>
        <tr>
            <td><input type="text" style="border:none;padding: 10px;background-color: #3d435c; color: white;" name="username2"  class="input-box" value="{{e.username2}}" ></td>
            <td><input type="password" id="pw3" style="border:none;padding: 10px;background-color: #3d435c;color: white;" name="password3" class="input-box" value="{{e.password3}}"></td>
        </tr>
      </table>
       </div>
      <br>
      <br>
      <h5 style="color:rgba(255, 255, 255, 0.756);">PT</h5>
      <div class="table-responsive">
      <table border="2" style="border-collapse: collapse ;border:none;"class="input-box">
        <tr style="background-color:#2d3354 ">
            <th style="padding: 10px;color: white;" >State</th>
            <th style="padding: 10px;color: white;">Username</th>
            <th style="padding: 10px;color: white;">Password</th>
      
      
        </tr>
        <tr>            
            <td>
                <select  name="location" value="{{lu.location}}" class="form-control" style="width: auto; border:none;background-color: #1e2442; color: white;">
                    <option >please select state</option>
                    <option>Andhra Pradesh</option>
            <option>Telangana</option>
            <option>Tamil Nadu</option>
            <option>Madhya Pradesh</option>
            <option>Sikkim</option>
            <option>Assam</option>
            <option>Bihar</option>
            <option>Chattisgarh</option>
            <option>Goa</option>
            <option>Gujarat</option>
            <option>Maharastra</option>
            <option>Kerala</option>
            <option>Karnataka</option>
            <option>Himachal Pradesh</option>
            <option>Jharkhand</option>
            <option>Odisha</option>
            <option>Panjab</option>
            <option>Manipur</option>
            <option>Meghalaya</option>
            <option>Nagaland</option>
            <option>Mizoram</option>
            <option>Rajasthan</option>
            <option>Tripura</option>
            <option>Uttar Pradesh</option>
            <option>West Bengal</option>
            <option>Uttarakhand</option>
            <option>Arunachal Pradesh</option>
            <option>Jammu Kashmir</option>

                </select>
            </td>
            <td><input type="text" name="username3" style="padding: 10px;border:none;background-color: #1e2442; color: white;"  class="input-box" value="{{f.username3}}" ></td>
            <td><input type="password" id="pw4" name="password4" class="input-box" style="padding: 10px;border:none;background-color: #1e2442; color: white;" value="{{f.password4}}"></td>
        </tr>
</table>
      </div>

        <button type="button" class="btn btn-info "onclick="togglePassword()"style="width:auto;margin:15px;padding: 10px;border:none;background-color: rgb(63, 80, 113);color: rgb(247, 244, 244); ">Click here to Show Password</button>
        <br>
        <div style="margin:15px;padding: 10px;">*indicates required fields</div>
        <input type="submit"  style="width:150px;margin:15px;padding: 10px;border:none;background-color: rgb(46, 83, 157);color: rgb(247, 244, 244);" value="SUBMIT">
    </form>
    </form>
    </form>


  </div>
</div>
</div>
<script>
    function togglePassword() {
      var passwordInput = document.getElementById("pw");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
      var passwordInput = document.getElementById("pw1");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
      var passwordInput = document.getElementById("pw2");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
      var passwordInput = document.getElementById("pw3");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
      var passwordInput = document.getElementById("pw4");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
      var passwordInput = document.getElementById("pw5");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
      var passwordInput = document.getElementById("pw6");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
      var passwordInput = document.getElementById("pw7");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }

    }
    </script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const userIdInput = document.querySelector('input[name="userid"]');
          userIdInput.addEventListener('input', function () {
            let inputValue = userIdInput.value.toUpperCase().replace(/[^A-Z0-9]/g, ''); 
            userIdInput.value = inputValue;
          });
        });
      </script>
    {% endblock main_content %}
