{% extends 'admin-template/base_template.html' %}
{% block main_content %}
<html>
   <head>
       <title>Add Form</title>
   </head>
   <style>

       body{
           background-color:white;
           color:white;
           /* overflow: scroll; */

           
       }
   
       .v{
           width:100%;
          
           background-color:#242B4D;
           border: 3px solid white;
           border-bottom: none;
           border-top: none;
           border-right: 3px solid white;
           height:22%;
         padding-left: 20px;
       }
    
label.class{
    color:#1e2442;
    border:none;
}
div.class{
    border:none;
}
.ab{
 
 display: flex;
 align-items: center;
 position: absolute;
 height: 110px;
 top: 0;
 right: 0;
 padding-right: 1px;
 margin-right: 15px;
}
#showpassword{
   display: block;
 width: 100%;
 height: 45px;
 padding: 0 5px;
 border-radius:2px;
}
.center{
  margin:0 auto;
  width:730px;
  /* height:270px; */
  border-color:#000;
  border-width:1px;
}
.image{
     width: 100%;
  position: relative;
  
}
input {
    color-scheme: white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 8px;
  margin-right: 6px;
  opacity: 0.8;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 3;
  /* color-scheme:dark; */
}

   </style>
   <br>
    
   <body>

<div class="row justify-content-center">
    <div class="col-lg-9 col-12">
        <div class="form-group">
            {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success" style="margin-top:20px;background-color:green;color: whitesmoke;">{{ message }}</div>
              {% endif %}
              {% endfor %}
            {% endif %}
          </div>

      
       
  <br>

<form id="employadd" method="post" enctype="multipart/form-data" style="width: 100%;color: blck;background: linear-gradient(rgb(239,239,247),rgb(238,242,244)); padding:20px;" action="/empupdate/{{md.id}}">{% csrf_token %}
   
    <h4 style="text-align: center;border-radius: 20px;padding: 3%;color: white; background-color: black;">Employee Onboarding</h4>
      
        <br>
    
    
       <div class="form-group">
           <label>First Name*</label>
           <input type="text" name="first_name" value="{{md.first_name}}" class="form-control" placeholder="enter your firstname"  required>
       </div><br>

       <div class="form-group">
        <label>Last Name*</label>
        <input type="text" name="last_name" value="{{md.last_name}}" class="form-control" placeholder="enter your lastname"  required>
    </div><br>
    
    <div class="form-group" id="designation-field">
        {% if  md.role == "Employee" %}
        <label>Select The Designation</label><br>
        <span>&nbsp;&nbsp;Current Selected Designation: </span><span style="color: red; font-weight: bold;">{{md.designation_employ.designation_name}}</span></span>
        <select class="form-control" name="designation_employ" required>
            {% if aa %}
            <option value="">Select Designation</option>
                {% for i in aa %}
                    {% if i.Enabled == 'Yes' %}
                        <option value="{{ i.id }}">{{ i.designation_name }}</option>
                    {% endif %}
                {% endfor %}
            {% else %}
                <option disabled selected>No Designations Available</option>
            {% endif %}
        </select>
        {% endif %}
    </div><br>

                     
    
    <div class="form-group">
        <label>Date Of Birth*</label>
        <input type="text" value="{{md.dateofbirth}}" name="dateofbirth" class="form-control" max="9999-12-31" placeholder="enter your dateofbirth" style="background-color:white;" disabled>
    </div><br> 
    
    <!-- <div class="form-group">
        <label>Username*</label>
        <input type="text" name="username" class="form-control" placeholder="enter your username" style="background-color:#2D3354;  color:white; border:none;" required>
    </div><br> -->
    <div class="form-group">
        <label>Username*</label>
        <input type="text" name="username" value="{{md.username}}" class="form-control" placeholder="enter your username"  id="id_username"  disabled>
    </div><br>

    <div class="form-group">
        <!-- <div class='center'> -->
        <div class='image'>
        <label>Password*</label>
        <input type="password" name="password" value="{{md.password}}" class="form-control" placeholder="enter your password" id="showpassword" style="border-radius: 5px;" pattern="(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])(?=.*[a-z])[a-zA-Z0-9!@#$%^&*]{7,15}$" title="Must contain at least one number and one uppercase and lowercase letter and one special symbol, and at least 8 or more characters" required>
        <label style="background-color:rgb(41,215,231);  color:black; font-size:15px; padding:1%;height:fit-content;"><h6 style="height:fit-content;"> Must contain at least one number and one uppercase and lowercase letter and one special symbol, and at least 8 or more characters</h6></label>
        <span class="ab"><i class="far fa-eye" onclick="togglePasswordVisibility()" style="color: white;"></i></span>
        
        <br>
        </div>
        <!-- </div> -->
    </div><br>
    <script>
        function togglePasswordVisibility() {
            var newPasswordInput = document.getElementById('showpassword')
    
            if (newPasswordInput.type === "password") {
                newPasswordInput.type = "text";
           
            } else {
                newPasswordInput.type = "password";
    
            }
        }
    </script>
    <script>
        var myInput = document.getElementById("showpassword");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        var special = document.getElementById("special");

        myInput.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }
        
        myInput.onblur = function() {
          document.getElementById("message").style.display = "none";
        }
        
        myInput.onkeyup = function() {
          var lowerCaseLetters = /[a-z]/g;
          if(myInput.value.match(lowerCaseLetters)) {  
            letter.classList.remove("invalid");
            letter.classList.add("valid");
          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
          }
          
          var upperCaseLetters = /[A-Z]/g;
          if(myInput.value.match(upperCaseLetters)) {  
            capital.classList.remove("invalid");
            capital.classList.add("valid");
          } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
          }
        
          var numbers = /[0-9]/g;
          if(myInput.value.match(numbers)) {  
            number.classList.remove("invalid");
            number.classList.add("valid");
          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
          }
        
          var special = /[!@#$%^&*]/g;
          if(myInput.value.match(special)) {  
            special.classList.remove("invalid");
            special.classList.add("valid");
          } else {
            special.classList.remove("valid");
            special.classList.add("invalid");
          }
            
          if(myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
          }
        }
        </script>


       <!-- <div class="form-group">
           <label>Email*</label>
           <input type="email" name="email" class="form-control" placeholder="enter email address" style="background-color:#2D3354;  color:white; border:none;" required>
           <label style="background-color:#242B4D;  color:white; font-size:15px; padding:1%;height:fit-content"><h6 style="height:fit-content;">The email they will use to login into DevelopTrees.</h6></label>
       </div><br> -->

       <div class="form-group">
        <label>Email*</label>
        <input type="email" name="email" value="{{md.email}}" class="form-control bg-white" placeholder="enter email address"  id="id_email" disabled>
        <!-- <label style="background-color:#242B4D;  color:white; font-size:15px; padding:1%;height:fit-content"><h6 style="height:fit-content;">The email they will use to login into DevelopTrees.</h6></label> -->
    </div><br>

       <div class="form-group">
        <label>Office mail*</label>
        <input type="email" name="web_mail" value="{{md.web_mail}}" class="form-control" placeholder="enter your webemail address"  required>
        <label style="background-color:rgb(41,215,231);  color: black; font-size:15px; padding:1%;height:fit-content"><h6 style="height:fit-content;">The email they will use to login into {{data.organizationname}}</h6></label>
    </div><br>

    <div class="form-group">
        <label for="gender">Gender*</label>
        <!-- <select id="gender" name="gender" class="form-control">
            <option value="male" {% if gender == 'male' %}selected{% endif %}>Male </option>
            <option value="female" {% if gender == 'female' %}selected{% endif %}>Female</option>
        </select> -->
        <input type="text" value="{{md.gender}}" class="form-control bg-white" disabled>
    </div>
    

        <div class="form-group">
            <label>Address*</label>
            <input type="text" name="address" value="{{md.address}}" class="form-control" placeholder="enter Address" style="background-color:white;  color:black; " required>
        </div><br>

        <!-- <div class="form-group">
            <label>Employ ID*</label>
            <input type="text" name="empid" class="form-control" placeholder="enter employid" value="{{emp_length.employe_id_prefix}}" style="background-color:#2D3354;  color:white; border:none;" maxlength="{{emp_length.employ_idlength}}" required>
        </div><br> -->  
        <!-- <div class="form-group">
            <label>Employ ID*</label>
            <input type="text" name="empid" class="form-control" placeholder="enter employid" value="{{emp_length.employe_id_prefix}}" style="background-color:#2D3354;  color:white; border:none;" maxlength="{{emp_length.employ_idlength}}"  id="id_empid"    required>
        </div><br> --> 
        
        <div class="row">
            <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-12"> -->
                <div class="form-group">
                    <label for="empid">Employ ID*:</label>
                    <input type="text" id="empid" name="empid" value="{{md.empid}}" class="form-control" ><br>
                    
                    <small id="emperror" class="text-danger"></small>
                </div>
            <!-- </div> -->


            
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    $('#empid').on('input', function () {
        var empid = $(this).val();
        if (empid) {
            $.ajax({
                url: '/check_empid/',
                type: 'GET', 
                data: {
                    'empid': empid
                },
                dataType: 'json',
                
                success: function (data) {
                    if (data.is_taken) {
                        $('#emperror').text('Employ Id is Already Exists.');
                    } else {
                        $('#emperror').text('');
                    }
                }
            });
        } else {
            $('#emperror').text('');
        }
    });
});
</script>
        </div>
        
     <!-- your_template.html -->
<div class="form-group">
    <label>Blood Group*</label><br>
    <select style="background-color:white; color:black;" class="form-control" name="bloodgroup" disabled>
        <option disabled>choose your blood group</option>
        <option {% if md.bloodgroup == 'A+' %}selected{% endif %}>A+</option>
        <option {% if md.bloodgroup == 'A-' %}selected{% endif %}>A-</option>
        <option {% if md.bloodgroup == 'B-' %}selected{% endif %}>B-</option>
        <option {% if md.bloodgroup == 'B+' %}selected{% endif %}>B+</option>
        <option {% if md.bloodgroup == 'O+' %}selected{% endif %}>O+</option>
        <option {% if md.bloodgroup == 'O-' %}selected{% endif %}>O-</option>
        <option {% if md.bloodgroup == 'AB+' %}selected{% endif %}>AB+</option>
        <option {% if md.bloodgroup == 'AB-' %}selected{% endif %}>AB-</option>
    </select>
</div><br>

        <div class="form-group">
            <label>Date Of Joining*</label>
            <input type="text" value="{{md.dateofjoining}}" name="dateofjoining" value="{{md.dateofjoining}}" max="9999-12-31" class="form-control" placeholder="dateofjoining"  style="background-color:white;  color:black;" disabled>
        </div><br>

       <div class="form-group">
           <label>Annual Salary*</label>
           <input type="number" name="package" value="{{md.package}}" class="form-control" placeholder="" style="background-color:white;color:black; " required>
           <label style="background-color:rgb(41,215,231);  color:black; font-size:15px; padding:1%;"><h6>Annual salary is the current CTC(cost of company)for this employee, not including variable pay. If you have a monthly CTC. Please multiply by 12. Hrms will automatically create an ideal salary structure.</h6></label>       </div><br>

       <div class="form-group">
           <label>Location*</label><br>
           <select name="location"  style="background-color:white;  color:black;padding:1%;" class="form-control" disabled>
            <option disabled>Select the state</option>
            <option {% if md.location == 'Andhra Pradesh' %}selected{% endif %}>Andhra Pradesh</option>
            <option {% if md.location == 'Telangana' %}selected{% endif %}>Telangana</option>
            <option {% if md.location == 'Tamil Nadu' %}selected{% endif %}>Tamil Nadu</option>
            <option {% if md.location == 'Madhya Pradesh'%}selected{% endif %}>Madhya Pradesh</option>
            <option {% if md.location == 'Sikkim'%}selected{% endif %}>Sikkim</option>
            <option {% if md.location == 'Assam'%}selected{% endif %}>Assam</option>
            <option {% if md.location == 'Bihar'%}selected{% endif %}>Bihar</option>
            <option {% if md.location == 'Chattisgarh'%}selected{% endif %}>Chattisgarh</option>
            <option {% if md.location == 'Goa'%}selected{% endif %}>Goa</option>
            <option {% if md.location == 'Gujarat'%}selected{% endif %}>Gujarat</option>
            <option {% if md.location == 'Maharastra'%}selected{% endif %}>Maharastra</option>
            <option {% if md.location == 'Kerala'%}selected{% endif %}>Kerala</option>
            <option {% if md.location == 'Karnataka'%}selected{% endif %}>Karnataka</option>
            <option {% if md.location == 'Himachal Pradesh'%}selected{% endif %}>Himachal Pradesh</option>
            <option {% if md.location == 'Jharkhand'%}selected{% endif %}>Jharkhand</option>
            <option {% if md.location == 'Odisha'%}selected{% endif %}>Odisha</option>
            <option {% if md.location == 'Panjab'%}selected{% endif %}>Panjab</option>
            <option {% if md.location == 'Manipur'%}selected{% endif %}>Manipur</option>
            <option {% if md.location == 'Meghalaya'%}selected{% endif %}>Meghalaya</option>
            <option {% if md.location == 'Nagaland'%}selected{% endif %}>Nagaland</option>
            <option {% if md.location == 'Mizoram'%}selected{% endif %}>Mizoram</option>
            <option {% if md.location == 'Rajasthan'%}selected{% endif %}>Rajasthan</option>
            <option {% if md.location == 'Tripura'%}selected{% endif %}>Tripura</option>
            <option {% if md.location == 'Uttar Pradesh'%}selected{% endif %}>Uttar Pradesh</option>
            <option {% if md.location == 'West Bengal'%}selected{% endif %}>West Bengal</option>
            <option {% if md.location == 'Uttarakhand'%}selected{% endif %}>Uttarakhand</option>
            <option {% if md.location == 'Arunachal Pradesh'%}selected{% endif %}>Arunachal Pradesh</option>
            <option {% if md.location == 'Jammu Kashmir'%}selected{% endif %}> Jammu Kashmir</option>
           </select>    
       </div><br>
       <div class="form-group">
        <label>Pincode*</label><br>
        <input type="text" name="pincode" value="{{md.pincode}}" class="form-control" placeholder="enter pincode" style="background-color:white;color:black;" required>
    </div><br>

    <div class="form-group">
        <label>Contact Number*</label>
        <input type="number" name="contactno" value="{{md.contactno}}" class="form-control" placeholder="enter mobile number" style="background-color:white;color:black;" required>
        </div>
        <br><br>           
       
       <input type="submit" value="CONTINUE" style=" color:white;" class="btn btn-info">
       
</form>
<br>
</div>
</div>








<script>
    document.getElementById('employadd').addEventListener('submit', function (e) {
        const dateofjoiningInput = document.querySelector('input[name="dateofjoining"]');
        if (!dateofjoiningInput.value) {
            dateofjoiningInput.name = ''; 
        }
    });
</script>
<script>
    document.getElementById('employadd').addEventListener('submit', function (e) {
        const dateofbirthInput = document.querySelector('input[name="dateofbirth"]');
        if (!dateofbirthInput.value) {
            dateofbirthInput.name = ''; 
        }
    });
</script>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const firstNameInput = document.querySelector('input[name="first_name"]');
        const lastNameInput = document.querySelector('input[name="last_name"]');
        // const usernameInput = document.querySelector('input[name="username"]');
        const roleInput = document.querySelector('input[name="role"]');
        const ManagerInput = document.querySelector('input[name="Manager"]');
        const designationInput = document.querySelector('input[name="designation"]');
        

        const alphabeticRegex = /^[A-Za-z]+$/; // Regular expression to allow only letters

        function validateAlphabets(inputField) {
            const inputValue = inputField.value.trim();

            if (!alphabeticRegex.test(inputValue)) {
                // Remove non-alphabetic characters
                inputField.value = inputValue.replace(/[^A-Za-z]/g, "");
            }
        }

        firstNameInput.addEventListener("input", function () {
            validateAlphabets(firstNameInput);
        });

        lastNameInput.addEventListener("input", function () {
            validateAlphabets(lastNameInput);
        });

        // usernameInput.addEventListener("input", function () {
        //     validateAlphabets(usernameInput);
        // });
        roleInput.addEventListener("input", function () {
            validateAlphabets(roleInput);
        });
        ManagerInput.addEventListener("input", function () {
            validateAlphabets(ManagerInput);
        });

        designationInput.addEventListener("input", function () {
            validateAlphabets(designationInput);
        });

    });
</script>






 <script>
    document.addEventListener("DOMContentLoaded", function () {
        const addressInput = document.querySelector('input[name="address"]');

        addressInput.addEventListener("input", function () {
            // No need for validation, it will accept all characters
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const empidInput = document.querySelector('input[name="empid"]');

        function validateEmpidInput(inputField) {
            const inputValue = inputField.value;

            // Regular expression to allow only capital letters and numbers
            const capitalLettersAndNumbersRegex = /^[A-Z0-9]*$/;

            if (!capitalLettersAndNumbersRegex.test(inputValue)) {
                // Remove characters that are not capital letters or numbers
                inputField.value = inputValue.replace(/[^A-Z0-9]/g, "");
            }
        }

        empidInput.addEventListener("input", function () {
            validateEmpidInput(empidInput);
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const contactnoInput = document.querySelector('input[name="contactno"]');
        const pincodeInput = document.querySelector('input[name="pincode"]');

        contactnoInput.addEventListener("input", function () {
            const inputValue = contactnoInput.value.trim();
            
            // Remove non-digit characters
            const numericValue = inputValue.replace(/[^0-9]/g, "");

            // Limit the input to 10 digits
            const maxLength = 10;
            const truncatedValue = numericValue.slice(0, maxLength);

            // Update the input value
            contactnoInput.value = truncatedValue;
        });

        pincodeInput.addEventListener("input", function () {
            const inputValue = pincodeInput.value.trim();
            
            // Remove non-digit characters
            const numericValue = inputValue.replace(/[^0-9]/g, "");

            // Limit the input to 6 digits
            const maxLength = 6;
            const truncatedValue = numericValue.slice(0, maxLength);

            // Update the input value
            pincodeInput.value = truncatedValue;
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const emailInput = document.querySelector('input[name="email"]');
        const web_mailInput = document.querySelector('input[name="web_mail"]');



        function validateInput(inputField) {
            const inputValue = inputField.value.trim();

            // Regular expression to allow letters, numbers, and various symbols
            const alphanumericWithSymbolsRegex = /^[A-Za-z0-9@.]*$/;

            if (!alphanumericWithSymbolsRegex.test(inputValue)) {
                // Remove characters that are not letters, numbers, or specified symbols
                inputField.value = inputValue.replace(/[^A-Za-z0-9@.]/g, "");
            }
        }

        emailInput.addEventListener("input", function () {
            validateInput(emailInput);
        });

        web_mailInput.addEventListener("input", function () {
            validateInput(web_mailInput);
        });

        
    });
</script> 
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const empidInput = document.querySelector('input[name="empid"]');

        function validateEmpidInput(inputField) {
            const inputValue = inputField.value;

            // Regular expression to allow only capital letters and numbers
            const capitalLettersAndNumbersRegex = /^[A-Z0-9]*$/;

            if (!capitalLettersAndNumbersRegex.test(inputValue)) {
                // Remove characters that are not capital letters or numbers
                inputField.value = inputValue.replace(/[^A-Z0-9]/g, "");
            }
        }

        empidInput.addEventListener("input", function () {
            validateEmpidInput(empidInput);
        });
    });
</script>


<!-- <script>
    $(document).ready(function(){
        $("#id_email").keyup(function(){
            var email=$(this).val();

           if(email!=""){
                $.ajax({
                    url:'{% url 'check_email_exist' %}',
                    type:'POST',
                    data:{email:email}
                })
                .done(function(response){
                    console.log(response);
                    if(response=="True"){
                        $(".email_error").remove();
                        $("<span class='email_error' style='padding: 5px;color: red;font-weight: bold;'>Email Not Available</span>").insertAfter("#id_email");
                    }
                    else{
                        $(".email_error").remove();
                        $("<span class='email_error' style='padding: 5px;color: green;font-weight: bold;'>Email Available</span>").insertAfter("#id_email");
                    }
                })
                .fail(function(){
                    console.log("failed");
                })
            }
            else{
              $(".email_error").remove();
            }

        });

        $("#id_username").keyup(function(){
            var username=$(this).val();

            if(username!=""){
                $.ajax({
                    url:'{% url 'check_username_exist' %}',
                    type:'POST',
                    data:{username:username}
                })
                .done(function(response){
                    console.log(response);
                    if(response=="True"){
                        $(".username_error").remove();
                        $("<span class='username_error' style='padding: 5px;color: red;font-weight: bold;'>Username Not Available</span>").insertAfter("#id_username");
                    }
                    else{
                        $(".username_error").remove();
                        $("<span class='username_error' style='padding: 5px;color: green;font-weight: bold;'>Username Available</span>").insertAfter("#id_username");
                    }
                })
                .fail(function(){
                    console.log("failed");
                })
            }
            else{
                $(".username_error").remove();
            }

        });
        $("#id_empid").keyup(function(){
            var empid=$(this).val();

            if(empid!=""){
                $.ajax({
                    url:'{% url 'check_empid_exist' %}',
                    type:'POST',
                    data:{empid:empid}
                })
                .done(function(response){
                    console.log(response);
                    if(response=="True"){
                        $(".empid_error").remove();
                        $("<span class='empid_error' style='padding: 5px;color: red;font-weight: bold;'>Employee ID Not Available</span>").insertAfter("#id_empid");
                    }
                    else{
                        $(".empid_error").remove();
                        $("<span class='empid_error' style='padding: 5px;color: green;font-weight: bold;'>Employee ID Available</span>").insertAfter("#id_empid");
                    }
                })
                .fail(function(){
                    console.log("failed");
                })
            }
            else{
                $(".empid_error").remove();
            }

        });
    



    });

</script> -->
<script>
    $(document).ready(function(){
        $("#id_email").keyup(function(){
            var email=$(this).val();

           if(email!=""){
                $.ajax({
                    url:'/check_email_exist/',
                    type:'POST',
                    data:{email:email}
                })
                .done(function(response){
                    console.log(response);
                    if(response=="True"){
                        $(".email_error").remove();
                        $("<span class='email_error' style='padding: 5px;color: red;font-weight: bold;'>Email Not Available</span>").insertAfter("#id_email");
                    }
                    else{
                        $(".email_error").remove();
                        $("<span class='email_error' style='padding: 5px;color: green;font-weight: bold;'>Email Available</span>").insertAfter("#id_email");
                    }
                })
                .fail(function(){
                    console.log("failed");
                })
            }
            else{
              $(".email_error").remove();
            }

        });

        $("#id_username").keyup(function(){
            var username=$(this).val();

            if(username!=""){
                $.ajax({
                    url:'/check_username_exist/',
                    type:'POST',
                    data:{username:username}
                })
                .done(function(response){
                    console.log(response);
                    if(response=="True"){
                        $(".username_error").remove();
                        $("<span class='username_error' style='padding: 5px;color: red;font-weight: bold;'>Username Not Available</span>").insertAfter("#id_username");
                    }
                    else{
                        $(".username_error").remove();
                        $("<span class='username_error' style='padding: 5px;color: green;font-weight: bold;'>Username Available</span>").insertAfter("#id_username");
                    }
                })
                .fail(function(){
                    console.log("failed");
                })
            }
            else{
                $(".username_error").remove();
            }

        });
        $("#id_empid").keyup(function(){
            var empid=$(this).val();

            if(empid!=""){
                $.ajax({
                    url:'/check_empid_exist/',
                    type:'POST',
                    data:{empid:empid}
                })
                .done(function(response){
                    console.log(response);
                    if(response=="True"){
                        $(".empid_error").remove();
                        $("<span class='empid_error' style='padding: 5px;color: red;font-weight: bold;'>Employee ID Not Available</span>").insertAfter("#id_empid");
                    }
                    else{
                        $(".empid_error").remove();
                        $("<span class='empid_error' style='padding: 5px;color: green;font-weight: bold;'>Employee ID Available</span>").insertAfter("#id_empid");
                    }
                })
                .fail(function(){
                    console.log("failed");
                })
            }
            else{
                $(".empid_error").remove();
            }

        });
    



    });

</script>



</body>
</html> 
{% endblock main_content %}
