{% extends 'admin-template/base_template.html' %}
{% block main_content %}
<style>
  tr:nth-child(even) {background-color: rgb(239,239,247)}
       tr:nth-child(odd) {background-color: rgb(238,242,244)}
</style>
<style>

  tr:nth-child(even) {
    background-color: rgb(239,239,247);
    color: black;                       
  }
  tr:nth-child(odd) {
    background-color: rgb(238,242,244);
    color: black;
  }
  .pagination a, .pagination .current-page {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    margin: 0 4px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: background-color 0.3s;
    text-align: center;
}
.act{
  /* background-color: orange; */
  color: white;
  height:43px;
  width:43px;
  border-radius: 20px;

}


  </style>
<br><br>
<!-- <section class="content"> -->
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> -->
          <!-- general form elements -->
          <!-- <div class="card card-primary"> -->
            <!-- <div class="card-header" style="background-color: #40445c; border: none;"> -->
              <h3 style="color: black;" ><b>Employ Apply for AdvanceSalary :</b></h3>
            <!-- </div> -->
            
           <div class="table-responsive">
            <!-- /.card-header -->
            <!-- form start -->
            <div class="table">
              <table class="table">
                  <tr style="background-color: black;color: white;">
                      <th>Employ ID</th>
                      <th>Employ Name</th>
                     
                      <th>Emi</th>
                      <th>Reason</th>
                      <th>Amount</th>
                      <th>Request</th>
                     
                  </tr>
                  {% for leave in emp_req %}
                  <tr>
                      <td>{{ leave.employ.empid }}</td>
                      <td>{{ leave.employ.first_name }}{{ leave.employ.last_name }}</td>
                    
                      
                      <td>{{ leave.emi }}</td>
                      <td>{{ leave.reason }}</td>
                      <td>{{ leave.amount }}</td>
                      
                   
                      
                      <td>
                          {% if leave.request_status == 0 %}
                          <a href="{% url 'advance_salary_status_approve' leave_id=leave.id %}" class="btn btn-success" >Approve</a>
                          <a class="btn btn-danger" href="{% url 'advance_salary_status_disapprove' leave_id=leave.id %}" >Disapprove</a>
                          {% elif leave.request_status == 1  %}
                           <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Approved</button>
                          {% else %}
                          <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Disapproved</button>
                          {% endif %}
                      </td>
            
            
                      
                  </tr>
                  {% endfor %}
              </table>
            </div>

            <div class="pagination" style="color:white; margin:20px auto;">
              <span class="step-links">
                  {% if leaves.has_previous %}
                      <a  href="?page=1">&laquo;<<</a>
                      <a   href="?page={{ leaves.previous_page_number }}" class="prev"> < </a>
                  {% endif %}
                  {% for i in leaves.paginator.page_range %}
                  {% if leaves.number == i %}
                  <button class="active act bg-info"><span>{{ i }} <span class="sr-only">(current)</span></span></button>
                  {% elif i > leaves.number|add:'-3' and i < leaves.number|add:'3' %}
                      <a  href="?page={{ i }}">{{ i }}</a>
                  {% endif %}
                  {% endfor %}
                  {% if leaves.has_next %}
                      {% if leaves.number != leaves.paginator.num_pages %}
                      {% endif %}
                      <a   href="?page={{ leaves.next_page_number }}" class="prev">> </a>
      
                      <a  href="?page={{ leaves.paginator.num_pages }}">>>&raquo; </a>
                  {% endif %}
              </span>
          </div>

          </div>
          <!-- </div> -->
          <!-- /.card -->



        <!-- </div>
        </div>
    </div> -->
  <!-- </section> -->

{% endblock main_content %}